<div class="container">
  <h1>About Project YAM</h1>
  <p>
      Yam is an easy-to-use multiplayer gaming platform.
      <img src=<%= asset_path("potato_splash.jpg") %> alt="Potato splash" class="img-responsive">
  </p>

</div>
