<div class="container" style="padding-top: 60px;">

  <h1 class="page-header">User Profile</h1>

  <div class="row">
    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">
        <%= image_tag("#{@user.profile_image}.jpg") %>
        <%= @user.profile_image %>
      </div>
    </div>

    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12">
      <h3>Personal info</h3>
          <br>
          <div class="col-lg-8">
            <b>Email:</b> <%= @user.email %><br>
            <b>Ranking:</b> 5 out of 5 games won<br>
            <b>Last Seen:</b> May 5th<br>
            <br>
            <b>Description:</b> <br><br>
            I like to play games. We may introduce usernames so that their emails are not blatantly obvious for everyone to see and to contact. Security purposes? We will soon see. The picture to the left depends on the user's upload. Sometimes it's a big circle, other times it's smaller. Next main goal: give each user their own space for ranking, last seen, and descriptions.

          </div>

        </div>
    </div>
  </div>

















